.toppage-container

  .toppage-header
    = render 'shared/header'

  .toppage-main
    = render 'shared/main'

  .toppage-aside
    = render 'shared/aside'

  .toppage-footer
    = render 'shared/footer'