.footer {
  background-color: #202020;

  &-box {
    display: flex;
    justify-content: center;
    padding-top: 18px;

    &__merukari {
      margin-right: 20px;
      // position: relative;

      &__icon {
        margin-top: 10px;
        display: flex;

        &--twitter {
          margin: 10px 0 0 -10px;
        }

        &--facebook {
          margin-top: 22px;
          padding-left: 10px;
        }
      }
    }

    &__help {
      margin-right: 40px;
    }

    &__privacy {
      margin-right: 40px;
      max-width: 42%;
      position: relative;

      &__box {
        display: flex;

        &__left {
          padding-right: 20px;
          width: 38%;
        }

        &__right {
          padding-right: 20px;
          width: 38%;
        }
      }
    }

    &__country {
      position: absolute;
      left: 1110px;
    }
  }

  &-bottom{
    max-width: 1020px;
    height: 66px;
    margin: 30px auto 0;

    &__text{
      text-align: center;
      position: relative;
      line-height: 40px;
      font-size: 5px;;
      color: white;

      &__logo{
        position: absolute;
        top: 5px; left:30px ;
      }
    }
  }
}


.footer h2 {
  font-size: 16px;
  color: #FFFFFF;
}

.footer li {
  font-size: 12px;
  color: #BCBCBC;
  margin-top: 16px;
  cursor: pointer;
}

