
.logout-content{
  height: 180px;
  width: 700px;
  background-color: #fff;
  padding: 65px;
  margin:0 auto;
  padding-left:200px;
  &__box{
    margin:0 auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width:300px;
    margin: 0 auto;
    background-color: #ea352d;
    color:white;
    a{
      background-color: #ea352d;
      font-size: 20px;
      width: 100%;
      cursor: pointer;
      line-height: 67px;
      color:white;
      height: 50px;
      width:300px;
    }
  }
}


