@mixin box($width: 10px, $height: 10px, $radius: 3px) {
  width: $width;
  height: $height;
}

@mixin header{
  width: 180px;
  height:130px;
  margin:auto;
  padding-top: 40px;
  background: #F5F5F5;
}

@mixin footer{
  height:220px;
  background-color:#F5F5F5;
  text-align:center;
  position:relative;
  .footer_img{
    width: 80px;
  }
}

@mixin logo($font-size: 30px, $line-height: 23px, $width: 34px, $height:34px){
  font-size:$font-size;
  line-height:$line-height;
  width:$width;
  height:$height;
}

